@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GoodNeighbors-Good-Neighbors-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/GoodNeighbors-Good-Neighbors-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'GoodNeighbors-Good-Neighbors-Bold';
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url('./../public/imges/bi1.png') no-repeat center;
  background-size: cover;
}